<?xml version="1.0"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <add id="Merlin_SalesInsights::report"
         title="Sales Insights"
         module="Merlin_SalesInsights"
         sortOrder="990"
         parent="Magento_Reports::report"
         action="merlin_salesinsights/report/index"
         resource="Merlin_SalesInsights::report"/>
</menu>
